<app-header></app-header>
<div class="login-container">
    
   
    <div class="login-box">
        <div class="right">
            <div class="logo">
                <img src="\assets\images\movie_review.png" />
            </div>
           
        </div>
        <div class="left">
            <div class="login-menu">
                
                <button class="btn other " (click)="redirectToLogin()">Login</button>
                <button class="btn current">Register</button>
               
            </div>
            <div class="login-form">
            
                <div class="form-group">
                    <label class="username">Username:</label>
                    <input  class="form-control" type="text" name="username" placeholder="username" >
                </div>
                <div class="form-group">
                    <label class="password">Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="password" >
                </div>
                <div class="btn-container">
                    <div class="error"></div>
                    <button class="btn login-button" (click)="redirectToLogin()">Login</button>
                </div>
            </div>
        </div>
       
    </div>
   
    
</div>
<app-footer></app-footer>