.login-container{
    
    height: 795px;  
    display: flex;
    justify-content: center;
    align-items: center;


    

   
    
    .film{
        position: absolute;
        top: 50px;
        left: 50px;
        width: 618px;
    }
    .login-box{
        height: 600px;
        border-radius: 10px;
        box-shadow: 5px 5px 20px #383838;
        padding:20px;
        display: flex;
        flex-direction: row;
        .right{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 80px;
            .logo{
                img{
                    width: 500px;
                    height: 400px;
                }
            
            }
        }
        .left{
            .login-menu{
                display: flex;
                justify-content: flex-end;
                padding-bottom: 50px;
                .current{
                    background-color: #1f3a4b;
                    color:white;
                    font-weight: bold;
                }
                .other{
                    color: #1f3a4b;
                    font-weight: bold;
                }
            }
            .login-form {
                
                width: 400px;
                height: 300px;
                padding: 20px;
                background-color: #fff;
                
    
                
            }
        }
        
    }

    .form-group {
        margin-top:20px;
    }

    label{
        font-weight: bold;
    }
    
    .btn-container {
        .btn{
            margin-top: 30px;
            background-color: #1f3a4b;
            color:white;
            font-weight: bold;
            &:hover{
                background-color: #2c546d;
            }
        }
        .error{
            position: absolute;
            color: red;
        }
    }
}